@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-Thin.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-Thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-UltraLight.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-Light.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-Medium.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-DemiBold.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-ExtraBold.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-Black.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-Bold.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Woff/IRANSansXFaNum-Regular.woff") format("woff"),
    url("../assets/fonts/Woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  direction: rtl;
  text-align: right;
  font-family: IRANSansXFaNum;
  line-height: 180%;
  background-color: #e8eff1;
  margin: auto;
  max-width: 1440px;
}

input,
button {
  font-family: IRANSansXFaNum;
}

.topNavbar li a {
  transition: 300ms ease;
  padding: 3px 5px;
}

.topNavbar .active a {
  color: #c55065 !important;
  font-weight: 600 !important;
  border-color: #c55065 !important;
}
